TZ=Europe/Kyiv

# mongo
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=example

# backend
MONGO_CONNECTION_URI=mongodb://root:example@mongo:27017/snippet_vault?authSource=admin

# frontend
NEXT_PUBLIC_API_URL=http://localhost:3000
